src/assets/icons/
dist/
.angular/
node_modules/
CHANGELOG.md
.idea/
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
*.editorconfig
*.gitignore
*.prettierignore
*.stylelintignore
*.gitkeep
*.ttf
*.svg
*.png
*.ico
.DS_Store
