/* You can add global styles to this file, and also import other style files */
$background: #141414;
$white: #ffffff;
$secondary: #acacac;
$primary: #177ddc;
$disabled: #313131;
$border: #303030;

$sm: 600px;
