@if (!currentUser()) {
  <div class="auth">
    <nz-input-group [nzPrefix]="prefixTemplateUser">
      <input
        type="text"
        nz-input
        placeholder="Enter your username"
        [(ngModel)]="username"
      />
    </nz-input-group>
    <ng-template #prefixTemplateUser
      ><span nz-icon nzType="user"></span
    ></ng-template>

    <button
      nz-button
      nzType="primary"
      [disabled]="!username()"
      (click)="onJoinRoom()"
    >
      Join
    </button>
  </div>
} @else {
  <div class="box starting-values" [formGroup]="form">
    <app-starting-values
      formControlName="startingValue"
      [users]="room()"
      [showWallShapes]="(currentStep$ | async) === undefined"
    />
  </div>

  @if (tradeSteps(); as trades) {
    <div class="box timeline">
      <nz-timeline>
        @for (step of trades; let index = $index; track index) {
          @if (index === 3) {
            <nz-timeline-item nzColor="#d89614"
              >Next 3 trades should be done in quick succession, before witness
              kills you</nz-timeline-item
            >
          }
          <nz-timeline-item
            [nzColor]="index > ((currentStep$ | async) ?? 0) ? 'gray' : 'blue'"
          >
            @if (step.user.id === currentUser()?.id) {
              <nz-tag nzColor="green">{{ step.user.name }}</nz-tag>
            } @else {
              <b>{{ step.user.name }}</b>
            }
            find <b>{{ step.shape }}</b> from knight and deposit it in
            <b
              >{{ statueLabels[step.targetStatue] }} statue</b
            ></nz-timeline-item
          >
        }
      </nz-timeline>
    </div>
  }

  @if (isAdmin()) {
    <div class="buttons">
      <button nz-button nzDanger (click)="onReset()">Reset</button>
      @if ((currentStep$ | async) === undefined) {
        <button
          nz-button
          nzType="primary"
          [disabled]="!tradeSteps()"
          (click)="onStart()"
        >
          Start
        </button>
      }
    </div>
  }

  <!-- @if (tradeSteps(); as trades) {
    @for (step of trades; let index = $index; track index) {
      <span
        ><b>{{ step.user.name }}</b> find <b>{{ step.shape }}</b> from knight
        and deposit it in
        <b>{{ statueLabels[step.targetStatue] }} statue</b></span
      >
    }
  } -->
}
