@if (!currentUser()) {
  <div class="auth">
    <nz-input-group [nzPrefix]="prefixTemplateUser">
      <input
        type="text"
        nz-input
        placeholder="Enter your username"
        [(ngModel)]="username"
      />
    </nz-input-group>
    <ng-template #prefixTemplateUser
      ><span nz-icon nzType="user"></span
    ></ng-template>

    <button
      nz-button
      nzType="primary"
      [disabled]="!username()"
      (click)="onJoinRoom()"
    >
      Join
    </button>
  </div>
} @else {
  <!-- required info:
   statue shapes in order | done
   users in order | done
   wall shapes in order -->
  <div class="box statue-users-selector" [formGroup]="form">
    <app-statue-shapes formControlName="shapes" />
    <app-statue-users formControlName="users" [users]="room()" />
    @if (showWallSelector) {
      <div class="wall-shapes">
        <span class="wall-shapes-header">Wall Shapes</span>
        <app-statue-wall-shapes formControlName="wall" />
      </div>
    }
  </div>

  @if (isStartingValuesValid()) {
    cock
  }
}
