@use 'styles' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 40px;
  background-color: $background;

  @media (max-width: $sm) {
    padding: 40px 8px;
  }
}

.auth {
  display: flex;
  gap: 8px;
}

.box {
  padding: 42px 24px;
  border: 1px solid $border;
  min-width: 534px;

  &.timeline {
    padding-bottom: 0;
  }

  @media (max-width: $sm) {
    padding: 42px 8px;
    min-width: auto;
  }
}

.starting-values {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
