@use 'styles' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 40px;
  background-color: $background;
}

.auth {
  display: flex;
  gap: 8px;
}

.box {
  padding: 42px 24px 50px;
  border: 1px solid $border;
}

.statue-users-selector {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wall-shapes {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }
}
